/backend/.env
/backend/node_modules/
/frontend/node_modules/
/frontend/build
/frontend/package-lock.json
/backend/package-lock.json
/backend/database/users.db
/frontend/dist/
/.idea/

backend/database/
/backend/files/

node_modules/

package-lock.json

backend/media/home/

backend/media/ssc/
